---
layout: default
---

<div class="posts">
  {% for post in site.posts %}
    <article class="post">

      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
            <div>
        <span class="date">
          {{ post.date | date: "%Y-%m-%d" }}
        </span>
              <!-- <ul class="tag" style="background-color: red;">
          {% for tag in post.tags %}
          <li style="display: inline; margin: 0; background-color: red;">
            <a  style="href="{{ site.url }}{{ site.baseurl }}/tags#{{ tag }}">
              {{ tag }}
            </a>
          </li>
          {% endfor %}
        </ul>-->
      </div>

      <div class="entry">
        {{ post.content | strip_html | truncatewords: 50 }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
  {% endfor %}
</div>
